= simple_form_for @medication, html:{class: 'form_horizontal'} do |f|
  - if @medication.errors.any?
    #error_explanation
      %h2
        = pluralize(@medication.errors.count, "error")
        prohibited this Medication from being saved:
      %ul
        - @medication.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.input :name, input_html: { class: "form-control" }
  .form-group
    = f.input :description, input_html: { class: "form-control" }
  .form-group
    = f.input :label, input_html: { class: "form-control" }
  .submit-button
    = f.submit 'Create Medication', class: "btn btn-primary"