%h1 Listing Medication
%table#datatable{:border => "1", :style => "width:100%"}
  %thead
    %tr
      %th Name
      %th Description
      %th Label
      %th
      %th
  %tbody
    - @medications = Medication.all
    - @medications.each do |medication|
      %tr
        %td= medication.name
        %td= medication.description
        %td= medication.label
        %td= link_to 'Show', medication, class: "btn btn-xs btn-primary"
        %td= link_to 'Edit', edit_medication_path(medication), class: "btn btn-xs btn-default"
%br
  = link_to 'New Medication', new_medication_path, class: "btn btn btn-primary"
  %br

= javascript_include_tag 'jquery.dataTables.min', 'data-turbolinks-track' => true
= javascript_include_tag 'datatables.config', 'data-turbolinks-track' => true
