= simple_form_for @dosage, html:{class: 'form_horizontal'} do |f|
  - if @dosage.errors.any?
    #error_explanation
      %h2
        = pluralize(@dosage.errors.count, "error")
        prohibited this Dosage from being saved:
      %ul
        - @dosage.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.input :time_taken, input_html: { class: "form-control" }
  .form-group
    = f.input :frequency, input_html: { class: "form-control" }
  .form-group
    = f.input :start_date, input_html: { class: "form-control" }
  .form-group
    = f.input :treatment_name, :url => autocomplete_treatment_name_patients_path, :as => :autocomplete, input_html: { class: "form-control" }
  .form-group.hidden
    = f.input :patient_id
  .submit-button
    = f.submit 'Create Dosage', class: "btn btn-primary"