%h1 Editing patient
= simple_form_for @patient, html:{class: 'form_horizontal'} do |f|
  - if @patient.errors.any?
    #error_explanation
      %h2
        = pluralize(@patient.errors.count, "error")
        prohibited this Patient from being saved:
      %ul
        - @patient.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.input :name, input_html: { class: "form-control" }
  .form-group
    = f.input :age, input_html: { class: "form-control" }
  .form-group
    = f.input :address, input_html: { class: "form-control" }
  .form-group
    = f.input :contact_number, input_html: { class: "form-control" }
  .form-group
    = f.input :patient_number, input_html: { class: "form-control" }
  .submit-button
    = f.submit 'Edit Patient', class: "btn btn-primary"
= link_to 'Back', patients_path, class: "btn btn btn-default"