.panel.panel-page
  %p
    %strong Patient Name:
    = @patient.name
  %p
    %strong Age:
    = @patient.age
  %p
    %strong Patient Number:
    = @patient.patient_number
  %p
    %strong Contact Number:
    = @patient.contact_number
  %p
    %strong Address:
    = @patient.address
  = link_to 'Edit', edit_patient_path(@patient), class: 'btn btn btn-default'

%h1 Listing Medication
%table#datatable.table.table-striped.table-bordered{:border => "1", :style => "width:100%"}
  %thead
    %tr
      %th Treatment Name
      %th Time Taken
      %th Frequency
      %th Start Date
  %tbody
    - @patient.dosages.each do |patient_dosage|
      %tr
        %td= link_to patient_dosage.treatment_name, patient_dosage.treatment
        %td= patient_dosage.time_taken
        %td= patient_dosage.frequency
        %td= patient_dosage.start_date
%br
= link_to 'Back', patients_path, class: 'btn btn btn-default'
= javascript_include_tag 'jquery.dataTables.min', 'data-turbolinks-track' => true
= javascript_include_tag 'datatables.config', 'data-turbolinks-track' => true