%div.row.signin-container
  .col-md-6.balloon-col
    = image_tag("doctor-patient.svg", :height => 450, :width => 360)
  .col-md-6.signin-col
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f|
      %h2.form-signin-heading Log in
      = f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email Address"
      = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password"
      - if devise_mapping.rememberable?
        %label.checkbox
          %input{:type => "checkbox", :value => "remember-me"}
            Remember me
      %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Log in
      = render "devise/shared/links"
%div.row.signin-container
  %p PatientHub is a web-service that allows doctors and patients keeping track of their progress. Patients can use our friendly mobile application to utilise the services we provide. Doctors can use our web-application to consume our services.
  %p Your truly,
  %p The Binary Team