%div.row.signin-container
  .col-md-6.balloon-col
    %a{:href => "https://docs.google.com/presentation/d/1PEnR1EveAnljWA18a1Je8XIaHfpYMFZBkcLMdh-kNpI/edit#slide=id.g35f391192_00"}
      = image_tag("loginScreenLogo.png", :height => 410, :width => 600)
  .col-md-6.signin-col
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f|
      %h2.form-signin-heading Log in
      = f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email Address"
      = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password"
      - if devise_mapping.rememberable?
        %label.checkbox
          %input{:type => "checkbox", :value => "remember-me"}
            Remember me
      %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Log in
      = render "devise/shared/links"
%div.row.signin-container
  %p PatientHub is a mobile application which allows healthcare professionals to keep track of their Patients’ recovery process. Patients use our friendly app to provide feedback which is delivered back to interested parties via a weekly email summary.
  %p The purpose of this website is for the configuration of PatientHub.