!!!
%html
  %head
    %title PatientInformation
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'welcome', media: 'all'
    = stylesheet_link_tag    'jquery.dataTables.min', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .navbar.navbar-default.inverse.navbar-top
      .navbar-inner
        .container
          .navbar-header
            %a.navbar-brand.no-padding
              = image_tag("bannerLogoWhite.png", :height => 45, :width => 145)
          %ul.nav.navbar-nav.pull-right
            %li.pull-right
              - if user_signed_in?
                = link_to('Logout', destroy_user_session_path, :method => :delete, :class => "navbar-brand logout")
              - else
                = link_to('Login', new_user_session_path, :class => "navbar-brand login")
          .nav-collapse.collapse     
    - if current_user
      .container.user-greeting-wrap
        %span.user-greeting
          Hi, #{link_to current_user.email, edit_user_registration_path}
    #wrap.container
      - if notice
        .alert.alert-success
          = notice
      - if alert
        %div{:class => "alert alert-danger"}
          = alert
      = yield
    %footer.footer